<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5><a href={% url 'contacts' %}>Контакты</a></h5>
                <p>{{ company.name }}</p>
                <p>{{ company.tel }}</p>
                <p>{{ company.fax }}</p>
                <p>{{ company.email }}</p>
            </div>
            <div class="col-sm-4">
                <h5><a href="#">Социальные сети</a></h5>
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="col-sm-4">
                <h5><a href={% url 'vacancies' %}>Вакансии</a></h5>
                {% for vacancy in last_vacancies %}
                    <p>
                        <a class="link"
                           href={% url 'vacancy' vacancy.slug %}>{{ vacancy.title }}</a>
                    </p>
                {% endfor %}

            </div>
        </div>
    </div>
</footer>



