<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h5>Контакты</h5>
                <p>{{ company.name }}</p>
                 <p>{{ company.tel }}</p>
                 <p>{{ company.fax }}</p>
                 <p>{{ company.email }}</p>
            </div>
            <div class="col-sm-4">
                <h5>Социальные сети</h5>
                <p>Lorem ipsum dolor</p>
            </div>
            <div class="col-sm-4">
                <h5>Вакансии</h5>
                <p>Lorem ipsum dolor</p>
            </div>
        </div>
    </div>
</footer>
