{% extends 'base.html' %}

{% block title %}
    ООО Нижновтеплоэнерго
{% endblock %}
{% block content %}

    <div class="container-fluid" id="nnte">
        <div class="container-fluid">
            <h1>ООО Нижновтеплоэнерго</h1>
            <p>Компания ООО «Нижновтеплоэнерго» основана в 2006 г. Молодая динамично развивающаяся
                теплоснабжающая компания.</p>
        </div>
    </div>

    <div class="container-fluid" id="sidecontent">
        <div class="row">
            <div class="container">
                <h2>Добро пожаловать!</h2>
                <p>{{ company.important | safe }}
                </p>
            </div>
        </div>

        {% block blocks %}
            {% include 'blocks.html' %}
        {% endblock %}
    </div>

    <div class="container-fluid" id="maincontent">
        <div class="container" id="news">
            <h2 id="news-header">
                <a href={% url 'news' %}>Новости</a>
            </h2>
            {#            это просто контейнер#}
            <div class="container-fluid">
                <div id="carousel-example-multi" class="carousel carousel-multi slide"
                     data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example-multi" data-slide-to="0"
                            class="bg-dark active"></li>
                        <li data-target="#carousel-example-multi" data-slide-to="1"
                            class="bg-dark"></li>
                        <li data-target="#carousel-example-multi" data-slide-to="2"
                            class="bg-dark"></li>
                    </ol>

                    <!-- это обертка для элементов карусели -->
                    <div class="carousel-inner" role="listbox">
                        <!-- это элемент карусели -->
                            <div class="carousel-item active">
                            <!-- это карточка, че внутри ты сам знаешь -->
                            <!-- в такой конфигурации можно и без img, это по желанию -->
                                <div class="card">
{#                                {% if new.image %}#}
{#                                    <img class="card-img-top" src="{{ first_new.image.url }}"#}
{#                                         alt={{ first_new.title }}>#}
{#                                {% endif %}#}
                                <div class="card-body">
                                    <h5 class="card-title">{{ first_new.title }}</h5>
                                    <p class="card-text">{{ first_new.text | striptags | safe }}</p>
                                    <a href="{% url 'new' first_new.id %}"
                                       class="btn btn-primary float-right">Подробнее</a>
                                </div>
                            </div>
                            </div>
                        {% for new in list_news %}
                            <div class="carousel-item">
                                <div class="card">
{#                                    {% if new.image %}#}
{#                                        <img class="card-img-top" src="{{ new.image.url }}" alt={{ new.title }}>#}
{#                                    {% endif %}#}
                                    <div class="card-body">
                                        <h5 class="card-title">{{ new.title }}</h5>
                                        <p class="card-text">{{ new.text | striptags | safe }}</p>
                                        <a href="{% url 'new' new.id %}"
                                           class="btn btn-primary float-right">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!-- это последний элемент -->
                    </div>
                    <!-- это конец содержимого карусели -->
                </div>
            </div>
        </div>
        <!-- это конец блока, div ы все нужны тут -->
    </div>



{% endblock %}



