{% extends 'base.html' %}

{% block content %}

    <div class="container-fluid" id="nnte">
        <div class="container-fluid">
            <h1>ООО Нижновтеплоэнерго</h1>
            <p>Компания ООО «Нижновтеплоэнерго» основана в 2006 г. Молодая динамично развивающаяся
                теплоснабжающая компания.</p>
        </div>
    </div>


    <div class="container-fluid" id="maincontent">

        <div class="container" id="news">
            <h2 id="news-header">
                <a href={% url 'news' %}>Новости</a>
            </h2>
            <div class="container-fluid">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="d-block w-100">
                                <div class="card">
                                    <div class="card-body">
                                        <h3 class="card-title">{{ first_new.title }}</h3>
                                        <p class="card-text">{{ first_new.text | safe }}</p>
                                        <a href="{% url 'news' %}"
                                           class="btn btn-primary">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% for new in list_news %}
                            <div class="carousel-item">
                                <div class="d-block w-100">
                                    <div class="card">
                                        <div class="card-body">
                                            <h3 class="card-title">{{ new.title }}</h3>
                                            <p class="card-text">{{ new.text | safe }}</p>
                                            <a href="{% url 'news' %}" class="btn btn-primary">Подробнее</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>

                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                   data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                  </a>
                  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                   data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                  </a>
            </div>
        </div>

    </div>



    <div class="container-fluid" id="sidecontent">
        <div class="row">
            <div class="container">
                <h2>Добро пожаловать!</h2>
                <p>{{ company.important | safe }}
                </p>
            </div>
        </div>
        <div class="row justify-content-around">
            <div class="col-sm-3 border border-secondary m-1">
                <h3><a href="#">Часто задаваемые вопросы</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-sm-3 border border-secondary m-1">
                <h3><a href="">Подготовка систем теплопотребления в межотопительный период</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
            <div class="col-sm-3 border border-secondary m-1">
                <h3><a href="">Приборы учета</a></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>
    </div>
{% endblock %}
