
<header class="header">
<div class="container-fluid">
<div class="row">

    <nav class="navbar navbar-expand-lg navbar-light fixed-top">
        <a class="navbar-brand" href={% url 'index' %}><strong>ННТЭ</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="aboutCompany" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        О компании
                    </a>
                    <div class="dropdown-menu" aria-labelledby="aboutCompany">
                        <a class="dropdown-item" href="#">Общая информация</a>
                        <a class="dropdown-item" href="#">Руководство</a>
                        <a class="dropdown-item" href={% url 'vacancies' %}>Вакансии</a>
                        <a class="dropdown-item" href={% url 'contacts' %}>Контакты</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href={%  url 'news' %}>
                    Новости
                    </a>
                </li>

                {% for section in section_list %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="forPeople" role="button"
                           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{ section.title }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="forPeople">
                            {% for category in section.category_list %}
                                <a class="dropdown-item"
                                   href={% url 'category' category.slug %}>{{ category.title }}</a>
                            {% endfor %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
            <p class="cke_button">
                <a class="cke_button_label" href="#">Личный кабинет</a>
            </p>
        </div>
    </nav>
</div>
</div>

</header>
