{% extends 'base.html' %}

{% block title %}
    {{ new.title }}
{% endblock %}

{% block content %}

    <div class="container-fluid" id="nnte">
        <div class="container-fluid">
            <h1>ООО Нижновтеплоэнерго</h1>
            <p>Компания ООО «Нижновтеплоэнерго» основана в 2006 г. Молодая динамично развивающаяся
                теплоснабжающая компания.</p>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="container" id="new">
                <h3>{{ new.title }}</h3>
                        {% if new.image %}
                            <img class="float-left m-1" src="{{ new.image.url }}" width="200">
                                {% endif %}
                                <p class="card-text">{{ new.text | safe }}</p>
                                {% if new.file %}
                                    <a href="{{ new.file.url }}"
                                       class="btn btn-primary float-right">Скачать</a>
                                    {#            <!-- Просмотр в новом окне -->#}
                                    {#            <a target="_blank"#}
                                    {#           href="http://docs.google.com/viewer?url={{ new.file_new.url.get_absolute_url }}">Посмотреть</a>#}
                                    {#            </div>#}
                                {% endif %}
            </div>
        </div>
    </div>



{% endblock %}



