{% extends 'base.html' %}

{% block title %}
    Новости
{% endblock %}

{% block content %}

    <div class="container-fluid" id="nnte">
        <div class="container-fluid">
            <h1>Новости</h1>
            <p>Новости компании ООО «Нижновтеплоэнерго»</p>
        </div>
    </div>


    <div class="container" id="news">
        {% for new in list_news %}
            <div class="row justify-content-center">
                <div class="card m-1 w-100">
                    <div class="card-body">
                        <div class="container">
                            <a href="{% url 'new' new.id %}">
                                <h3 class="card-title">{{ new.title }}</h3>
                            </a>
                         {% if new.image %}
                                <img class="float-left m-1 img-thumbnail" src="{{ new.image.url }}" width="150">
                            {% endif %}
                            <p class="card-text p-1">{{ new.text | safe }}</p>
                            {% if new.file %}
                                <a href="{{ new.file.url }}"
                                   class="btn btn-primary float-right">Скачать</a>
                                {#            <!-- Просмотр в новом окне -->#}
                                {#            <a target="_blank"#}
                                {#           href="http://docs.google.com/viewer?url={{ new.file_new.url.get_absolute_url }}">Посмотреть</a>#}
                                {#            </div>#}
                            {% endif %}
                        </div>
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>




{% include 'pagination.html' %}

{% endblock %}



