<nav aria-label=Pagination">
    <ul class="pagination justify-content-center">
        {% if prev_page_url %}
            <li class="page-item">
                <a class="page-link" href="{{ prev_page_url }}">◀</a>
            </li>
        {% endif %}
        <li class="page-item"><a class="page-link" href="">{{ current_page }}</a></li>
        {% if next_page_url %}
            <li class="page-item">
                <a class="page-link" href="{{ next_page_url }}">▶</a>
            </li>
        {% endif %}
    </ul>
</nav>