{% extends 'base.html' %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="container-fluid" id="nnte">
            <div class="container">
                <h2>ООО Нижновтеплоэнерго</h2>
                <p>Компания ООО «Нижновтеплоэнерго» основана в 2006 г. Молодая динамично
                    развивающаяся
                    теплоснабжающая компания.</p>
            </div>
        </div>
    </div>


    <div class="row mt-3">
        <div class="container mt-5">

            <div id="accordion">

                {% for question in questions %}

                    <div class="card">
                        <div class="card-header" id="{{ question }}">
                            <h5 class="mb-0">
                                <button class="btn btn-link" data-toggle="collapse"
                                        data-target="#{{ question }}" aria-expanded="true"
                                        aria-controls="{{ question }}">
                                    {{ question.question }}
                                </button>
                            </h5>
                        </div>

                        <div id="{{ question }}" class="collapse show" aria-labelledby="headingOne"
                             data-parent="#accordion">
                            <div class="card-body">
                                {{ question.answer }}
                            </div>
                        </div>
                    </div>

                {% endfor %}

            </div>


        </div>
    </div>

{% endblock %}



