.navbar {
    background-color: #028C99;
}


.dropdown-menu {
    background-color: #136771;
}

#nnte {
    background-image: url("https://cdn.pixabay.com/photo/2019/05/23/11/44/factory-4223748_960_720.jpg");
    background-size: cover;
    background-position: center;
    margin-left: 0;
    padding-top: 5em;
    padding-bottom: 5em;
    color: #0b1da1;
}


.cke_button_label {
    text-transform: uppercase;
    font-style: italic;
    font-weight: bolder;
    color: #0b1da1;
}
#maincontent {
    padding-bottom: 5em;
    background-size: cover;
    background-position: center;
    background-image: url("https://cdn.pixabay.com/photo/2018/06/30/23/53/stadium-3508630_960_720.jpg");
}

#news-header {
    color: white;
}

#news {
    padding-top: 3em;
    padding-bottom: 3em;
    min-height: 26em;
}

.card {
    background-color: #eff6f7;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cbe1d8' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    min-height: 16em;
}


#sidecontent{
    padding-top: 2em;
    padding-bottom: 2em;
    background-color: #f2fdff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23ebfffe' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

#myTabContent {
    min-height: 10em;
}


.footer {
    padding-top: 2em;
    background-color: #028C99;
}
.link {
    color: #18335E;
}



#category {
    background-color: #eff6f7;
    background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23cbe1d8' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
    min-height: 15em;
}

.bg-dark {
    cursor: pointer;
}



